@import url("https://fonts.googleapis.com/css2?family=Varta:wght@400;500;600;700&display=swap");

* {
	box-sizing: border-box;

	font-family: "Varta", sans-serif;
}

body {
	background-color: #e8e9f3;
}
